
.bg{
    background-image: url('./assets/images/login.jpg');
}
.reg-bg{
    background-image: url('./assets/images/1.jpg');
}
.hov:hover{
    /* flex: 2; */
    flex: auto;
    scale: 1.5;
    transition-duration: 0.5s;
}
.b{
    transition-duration: 0.5s;
}